<div class="_table-layer">
  
  <table style="width:100%">
    <tr>
      <td>
        <button ng-click="$ctrl.showModal('add',{})" style="padding: 4px 10px;font-size: 15px;margin-top: -6px;">Add user</button>
      </td>
      <td>
          <input style="float: right;padding: 5px;width: 250px;" class="form-control" placeholder="Enter keyword for searching" type="text" ng-model="$ctrl._kword">
      </td>
    </tr>
  </table>

    <table class="table">
      <thead>
      <tr>
        <th>Username</th>
        <th>Status</th>
        <th>Role</th>
        <th>Created date</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in $ctrl._accounts | filter : $ctrl._kword">
        <td>{{item.username}}</td>
        <td>{{item.status=='1'?'Activate':'Deactivate'}}</td>
        <td>{{$ctrl.getID2LabelRole(item.role_ids)}}</td>
        <td>{{item.created_at | date:'yyyy-MM-dd HH:mm'}}</td>
        <td style="text-align: right;">
          <label class="_link padding-right5" ng-click="$ctrl.showModal('edit', item)">Edit</label>
          <label class="_link" ng-click="$ctrl.showModal('delete', item)">Delete</label>
        </td>
      </tr>
      </tbody>
    </table>
</div>

<dialog id="favDialog" class="modalDialog">
	<div ng-show="!$ctrl._isDelete">
    <label ng-click="$ctrl.closeModal()" title="Close" class="close">X</label>
		<div class="_component">
      <label>Username</label>
      <input class="form-control" type="text" ng-model="$ctrl._account.username">
      <font style="color: red;" ng-show="$ctrl.err.usr"><i>Username is required</i></font>
    </div>
    
    <div class="_component">
      <label>Password</label>
      <input class="form-control" type="password" ng-model="$ctrl._account.password">
      <font style="color: red;" ng-show="$ctrl.err.pwd"><i>Password is required</i></font>
    </div>

    <div class="_component">
      <label>Re-Password</label>
      <input class="form-control" type="password" ng-model="$ctrl._account.repwd">
      <font style="color: red;" ng-show="$ctrl.err.repwd"><i>Password is not match</i></font>
    </div>
    
    <div class="_component">
      <label> Active Status</label>
      <span class="_noteField" title="Sign-in Mode (Single = Only one user session exists at a time, Multiply = Multiply User sessions)">? </span>
       <select class="form-control" style="height: 25px;" ng-model="$ctrl._account.status" ng-options="(item?'Activate':'Deactivate') for item in [1, 0]"></select>
       <font style="color: red;" ng-show="$ctrl.err.stt"><i>Status is required</i></font>
    </div>

    <div class="_component">
      <label> Role </label>
      <select class="form-control" style="padding-top: 5px;" multiple ng-model="$ctrl._account.role_ids" ng-options="item._id as item.name for item in $ctrl._roles"></select>
      <font style="color: red;" ng-show="$ctrl.err.role"><i>Role is required</i></font>
    </div>

    <div class="_component padding-bottom15" style="margin-top: 20px;">
        <button class="padding-button5" ng-click="$ctrl.create()" ng-show="$ctrl._isCreate">Create</button>
        <button  class="padding-button5" ng-click="$ctrl.save()" ng-show="!$ctrl._isCreate">Save</button>
        <button  class="padding-button5" ng-click="$ctrl.closeModal()" >Cancel</button>
    </div>
	</div>
  <div ng-show="$ctrl._isDelete">
    <div class="_component">
      <label> Do you want to delete this account ? </label>
    </div>
    <div class="_component padding-bottom15" style="margin-top: 20px;">
        <button class="padding-button5" ng-click="$ctrl.delete()">Delete</button>
        <button class="padding-button5" ng-click="$ctrl.closeModal()" >Cancel</button>
    </div>
  </div>
</dialog>

<button id='btnApply' ng-click="$ctrl.sendRedirect()" style="display:none"></button>